{% for node in bm_nodes if node.enabled | default(true) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node.name }}-bmc-secret
  namespace: {{ bm_cluster_name }}
type: Opaque
stringData:
  username: "{{ vault_idrac_username }}"
  password: "{{ vault_idrac_password }}"
{% endfor %}
